.blog{
    font-family: 'Karla', sans-serif;
}
.blog > header h4{
    padding: 20px 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    letter-spacing: 1.5px;
    font-size: 1.13em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.blog a{
    text-decoration: none;
}
.blog article{
    min-height: 235px;
    padding: 40px 5% 80px;
}
.blog article header{
    margin-bottom: 20px;
}
.blog article header h3{
    font-size: 20px;
    font-weight: 500;
}
.blog article header h3 a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #000;
    transition: color .6s;
}
.blog article p{
    font-size: 14px;
    color: #787878;
    margin-bottom: 10px;
}
.blog article footer span:first-child{
    text-align: right;
    float: left;
    color: #b7b7b7;
    /* background-color: green; */
}
.blog article footer span{
    font-family: 'Karla', sans-serif;
    font-size: 12px;
}
.blog .last_article footer i{
    transition: color .6s;
}

.blog article footer span:last-child{
    text-align: right;
    float: right;
    font-weight: 700;
    opacity: 0;
    transition: all .6s;
}
.blog footer span:last-child a{
    position: relative;
    color: #c02942;
    transition: all .6s;
}
.blog footer span:hover:last-child a{
        color: #811c2c;
}
.blog article:hover footer span:last-child{
    opacity: 1;
}
.blog article:hover header h3 a{
    color: #c02942;
}
@media only screen and (min-width: 768px){
    .blog{
        display: flex;
        flex-wrap: wrap;
    }
    .blog header{
        width: 100%;
    }
    .blog header h4{
        padding: 40px 33px;
    }
    .blog article{
        width: 33.33%;
    }
    .blog  article:nth-child(2), .blog  article:nth-child(3){
        border-right: 1px solid #eee;
    }
}
@media only screen and (min-width: 1400px){
    .blog header{
        line-height: normal;
    }
    .blog header h4{
        padding: 0;
        /* background-color: red; */
        transform: rotate(90deg);
        position: relative;
        top: 80px;
        color: #fff;
        border: none;
    }
}