.contact{
    background-color: #333333;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}
.contact header h4{
    display: block;
    font-weight: 600;
    padding: 20px 20px;
    letter-spacing: 1.5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.contact div{
    min-height: 257px;
    padding: 40px 40px;
}
.contact div h4{
    margin-bottom: 10px;
    color: #fff;
}
.contact div p{
    margin-bottom: 20px;
}
.contact div, .contact footer{
    color: #999999;
    border-top: 1px solid #222222;
    /* min-height: 317px; */
    text-align: center;
    /* font-size: 14px; */
}
.contact p{
    font-size: 14px;
}
.contact a{
    color: #999999;
    outline: none;
    text-decoration: none;
    /* text-decoration-color: rgba(255, 255, 255, 0.2); */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.contact a:hover{
    color: #fff;
}
.contact header{
    width: 100%;
}
.contact_us, .newsletter{
    width: 50%;
}
.contact .latest_tweets{
    padding: 50px 40px 80px;
}
.contact footer{
    width: 100%;
    padding: 40px 0 60px;
}
.contact footer small{
    width: 100%;
    display: block;
    font-size: 100%;
    margin-bottom: 5px;
}
.newsletter input{
    color: #555555;
    /* opacity: .7; */
    height: 52px;
    /* margin-top: 20px; */
    padding: 6px 12px;
    width: 100%;
    outline: none;
    /* border:  */
    background-color: #333333;
    border: 2px solid #222222;
    cursor: text;
}

.latest_tweets > a{
    background-color: dodgerblue;
    border-radius: 3px;
    padding: 3px 6px;
    color: #fff;
    text-decoration: none;
    border: none;
    font-size: 12px;
}
.latest_tweets p:nth-child(2){
    margin-bottom: 0;

}
.latest_tweets i{
    padding-right: 4px;
}


@media only screen and (min-width: 768px){
    .contact header h4{
        padding: 33px 40px;
    }
    .contact div{
        /* padding: 80px 40px; */
    }
    .contact_us, .newsletter, .latest_tweets{
        width: 33.33%;
    }
    .contact_us, .newsletter{
        border-right: 1px solid #222;
    }
}
@media only screen and (min-width: 1400px){
    .contact header{
        line-height: normal;
    }
    .contact header h4{
        padding: 0;
        /* background-color: red; */
        /* Cause text to rotate */
        transform: rotate(90deg);
        display: block;
        position: relative;
        top: 80px;
        color: #fff;
    }
}