.hero{
    /* background-color: green; */
    width: 90%;
    margin-top: 50px;
}
.hero_container{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("../images/general/untilsunday-background.jpg");
    z-index: -10;
    height: auto;
    padding: 160px 20px 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0 0 0 1000px rgba(255, 0, 0, .7); */
    background-color: #c02942;
    background-blend-mode: multiply;
}

.hero h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    max-width: 640px;
}
.flip_box{
    perspective: 1000px;
    /* background-color: orange; */
}

.flip_wrap{
    transform-style: preserve-3d;
    width: 200px;
    height: 54px;
    transition: transform .33s;
    margin: 0 auto;
    position: relative;
}
/* Position the faces */
.front, .back{
    height: 54px;
    line-height: 54px;
    color: white;
    text-align: center;
    backface-visibility: hidden;
}
.front{
    background-color: transparent;
    transform: translateZ(27px);
    border: 2px solid #fff;
    transition: background-color .256s;
}
.flip_wrap:hover .front{
    background-color: rgba(255, 255, 255, .5);
}
.back{
    position: absolute;
    top: 0;
    background-color: #000;
    transform: rotateX(90deg) translateZ(27px);
    width: 100%;
}
.flip_wrap:hover{
    transform: rotateX(-90deg);
    cursor: pointer;
}

/* For Larger Screens */
@media only screen and (min-width: 768px){
    .hero h1{
        font-size: 54px;
    }
}
/* Support for Microsoft Edge */

@supports (-ms-ime-align:auto) {
    .hero_overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        /* background-color: rgba(122, 17, 35, 0.8); */
        background-color: rgba(136, 2, 25, 0.750);

    }
}
@media only screen and (min-width: 1400px){
    .hero{
        width: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .hero_container{
        float: left;
        width: 50%;
        height: 100%;
    }
}