.left-offcanvas{
    overflow-y: auto;
}
.left-offcanvas .logo{
    border: none;
}

/* Left offcanvas - Unordered List */
.left-offcanvas > ul > li{
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
}
.left-offcanvas ul li{
    list-style-type: none;
}
.left-offcanvas> ul > li a:before,
.left-offcanvas > ul > li:first-child a:before{
    position: absolute;
    content: "";
    width: 2px;
    height: 20px;
    top: 10px;
    bottom: 10px;
    left: -20px;
    background-color: transparent;
    transition: all 350ms;
}
.left-offcanvas > ul > li a:hover:before,
.left-offcanvas > ul > li:first-child a:before{
    background-color: #fff;
}

.left-offcanvas > ul > li > a{
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 0;
    text-transform: uppercase;
    transition: all 350ms;
}
.left-offcanvas > ul > li ul{
    min-width: 160px;
    z-index: 1000px;
}

.other_list li a{
    color: #999;
    text-decoration: none;
    transition: all 350ms;
    padding: 5px 10px;
    display: inline-block;
    font-size: 14px;
}

.other_list li a:hover{
    color: #fff;
    text-decoration: none;
}


/* RIGHT offcanvas - Unordered List */

.right-offcanvas .left h3{
    color: #fff;
}
.right-offcanvas .left h3 span{
    display: inline-block;
    line-height: 80px;
}

/* POPULAR TAGS */
.right-offcanvas .pop-tags,
.right-offcanvas .snapshot-container{
    overflow: hidden;
    /* background-color: green; */
    padding: 0 20px 100px 20px;
}
.right-offcanvas .pop-tags ul,
.right-offcanvas .snapshot-container ul
{
    list-style-type: none;
}
.right-offcanvas .pop-tags li{
    list-style-type: none;
    float: left;
    margin: 0 5px 5px 0;
}
.right-offcanvas .pop-tags li a{
    display: inline-block;
    color: #999;
    text-decoration: none;
    border: 1px solid #333333;
    padding: 5px 10px;
    transition: all 350ms;
}
.right-offcanvas .pop-tags li a:hover{
    background: #c02942 !important;
    border-color: #c02942 !important;
    color: #fff;
}

.right-offcanvas h3 span{
    color: #fff;
}

.pop-tags-container{
    /* background-color: #fff; */
}

/* SNAPSHOT */
.right-offcanvas .snapshot-container{
    /* width: inherit; */
    /* background-color: #fff; */
}
.right-offcanvas .snapshot-container li{
    margin: 0 5px 5px 0;
    width: 100%;
}
.right-offcanvas .snapshot-container ul li a{
    display: inline-block;
    width: 100%;
    color: #999;
    font-size: 15px;
    text-decoration: none;
    border-bottom: 1px solid #333333;
    padding: 10px 10px;
    font-weight: 700;
    transition: all 350ms;
}
.right-offcanvas .snapshot-container ul li a:hover{
    color: #fff;
}

.right-offcanvas .snapshot-container ul > li:last-child a{
    border: none;
}
.right-offcanvas .snapshot-container h3 span{
    display: inline-block;
    padding-bottom: 40px;
    /* background-color: red; */
}