.left-offcanvas{
    overflow-y: auto;
}
.left-offcanvas .logo{
    border: none;
}

/* Unordered List */
.left-offcanvas > ul > li{
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
}
.left-offcanvas ul li{
    list-style-type: none;
}
.left-offcanvas> ul > li a:before,
.left-offcanvas > ul > li:first-child a:before{
    position: absolute;
    content: "";
    width: 2px;
    height: 20px;
    top: 10px;
    bottom: 10px;
    left: -20px;
    background-color: transparent;
    transition: all 350ms;
}
.left-offcanvas > ul > li a:hover:before,
.left-offcanvas > ul > li:first-child a:before{
    background-color: #fff;
}

.left-offcanvas > ul > li > a{
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 0;
    text-transform: uppercase;
    transition: all 350ms;
}
.left-offcanvas > ul > li ul{
    min-width: 160px;
    z-index: 1000px;
}

.other_list li a{
    color: #999;
    text-decoration: none;
    transition: all 350ms;
    padding: 5px 10px;
    display: inline-block;
    font-size: 14px;
}

.other_list li a:hover{
    color: #fff;
    text-decoration: none;
}
