
.main{
    /* position: relative; */
}
.main header h3{
    font-size: 14px;
    letter-spacing: 1.5px;
    /* line-height: 1; */
    /* padding: 20px 33px; */
    color: #333;
    font-weight: 600;
    display: inline-block;
}
.main section{
    /* padding: 80px 5%; */
    /* background-color: blue; */
}
.main header{
    height: 50px;
    line-height: 50px;
    /* background-color: blue; */
}
.sliders{
    width: 100%;
    height: 450px;
    background-color: yellow;
    overflow: hidden;
    position: relative;
}
.slider_2{
    background-color: #333333;
}
.slider_3{
    background-color: #c02942;
}
section .up, section .down{
    /* height: 50px; */
    width: 100%;
    /* height: 170px; */
    /* background-color: #fff; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
section .up{
    top: 80px;
}
.up img{
    height: 120px;
    width: 120px;
    vertical-align: middle;
    margin: 0 auto;
}
section .down{
    /* background-color: red; */
    top: 200px;
}
section:hover .up{
    animation-name: slide-down;
    animation-duration: .6s;
}
section:hover .down{
    animation-name: slide-up;
    animation-duration: .6s;
}
@keyframes slide-down{
    0%{
        transform: translateY(-225px);
    }
}
@keyframes slide-up{
    0%{
        transform: translateY(225px);
    }
}

.content{
    text-align: center;
    /* background-color: yellow; */
    /* width: 90%; */
    padding: 0 30px;
}
.sliders a{
    color: #c02942;
    font-size: 11px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    line-height: 1.42857143;
}
.sliders h3{
    margin: 30px 0 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sliders p{
    padding-bottom: 20px;
    line-height: 1.42857143;
    text-align: center;
}
.slider_1 h3, .slider_1 p{
    color: #333;
}
.slider_2{
    background-color: #333;
}
.slider_2, .slider_3{
    color: #fff;
}
.slider_2 p, .slider_3 p{
    font-weight: 500;
}
.slider_2 .content a,
.slider_3 .content a{
    color: #fff;
    font-weight: 700;
}
@media only screen and (min-width: 768px){
    .main{
        display: flex;
        flex-wrap: wrap;
    }
    .main header{
        width: 100%;
    }
    section{
        width: 33.33%;
    }
}
@media only screen and (min-width: 992px){
    .main header h3{
        /* padding: 40px 33px; */
    }
}

@media only screen and (min-width: 1400px){
    .main{
        position: relative;
        z-index: 50;
    }
    .main header{
        /* position: absolute;
        top: 0;
        height: 100%;
        background-color: blue;
        width: 80px;
        padding: 40px 33px;
        z-index: 5000;
        left: -40px; */
    }
    .main header h3{
        /* transform: rotate(90deg); */
    }

}