.stories header{
    padding: 10px 0;
}
/* .stories article{
    position: relative;
} */
.art_1{
    height: 100vh;
    background-image: url("../images/articles/untilsunday_smashing_book.jpg");
}
.stories article{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* overflow: hidden; */
    position: relative;
    transition: background-color 350ms;
}
a.art_link{
    display: block;
    height: 100%;
    width: 100%;
}
.stories article > div{
    position: absolute;
    bottom: 0px;
    padding: 40px;
    background-color: green;
    overflow: hidden;
}
.stories article > div div{
    position: relative;
    bottom: -20px;
    width: 100%;
    /* background-color: yellow; */
    transition: all 350ms;
    opacity: 0;
}
.stories article h3{
    margin-bottom: 5px;
}
.stories article h3 a{
    font-size: 20px;
    font-weight: 500;
}
.stories article span a{
    font-size: 13px;
}
.stories article a{
    color: #fff;
    text-decoration: none;
}
.stories article:hover{
    background-color: #c02942;
    background-blend-mode: multiply;
}
.stories article:hover > div div{
    bottom: 0;
    opacity: 1;
}

.stories > .art_container{
    /* height: 100vh; */
    overflow: hidden;
}

.stories > div .art_2,
.stories > div .art_3{
    height: 50vh;
}
.stories > div .art_2{
    /* background-color: red; */
    background-image: url("../images/articles/untilsunday_flyers.jpg");

}
.stories > div .art_3{
    /* background-color: yellow; */
    background-image: url("../images/articles/untilsunday_city_of_horten.jpg");
}
.art_4, .art_6{
    height: 50vh;
    /* background-color: red; */
}
.art_4{
    background-image: url("../images/articles/untilsunday_little_stories.jpg");
}
.art_5{
    height: 100vh;
    /* background-color: grey; */
    background-image: url("../images/articles/untilsunday_greetings_card.jpg");
}
.art_6{
    /* background-color: yellow; */
    background-image: url("../images/articles/untilsunday_questions_game.jpg");
}

/* connect */

.connect{
    height: 70px;
    line-height: 70px;
    padding: 0 20px;
    text-align: right;
    color: #c02942;
    border-top: 1px solid #eee;

}
.connect a{
    text-decoration: none;
    color: #c02942;
    font-size: 14px;
}
.connect a:hover{
    color: #811c2c;
    outline: none;
}
@media only screen and (min-width: 768px){
    .art_1, .art_4, .art_6{
        float: left;
        width: 50%;
    }
    .art_2, .art_3, .art_5{
        float: right;
        width: 50%;
    }
}