@import url("hero.css");
@import url("leftnav.css");
@import url("main_box.css");
@import url("stories.css");
@import url("blog.css");
@import url("client.css");
@import url("contact.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}
body{
    font-family: 'Karla', sans-serif;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: 14px;
    line-height: 1.42857143;
}
.bdy_hide{
    overflow: hidden;
}
.header_hero{
    position: relative;
    background-size: cover;
    background-image: url("../images/general/untilsunday-background.jpg")
}

.container{
    width: 100%;
    position: relative;
    transition: left 6s;
    left: 0px;
}
.move_cont{
    left: 320px;
    transition: left 6s;
}
.move_cont_right{
    left: -320px;
    transition: left 6s;
}

/* Header */
.main_header{
    position: absolute;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.menu, .logo{
    height: 80px;
    width: 80px;
    line-height: 80px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.menu{
    /* float: left; */
}
.logo{
    float: left;
    /* background-color: green; */
}
.logo img{
    object-fit: contain;
    vertical-align: middle;
    margin: 0 auto;
    /* background-color: red; */
}
.logo a{
    display: inline-block;
    background-color: transparent;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 100%;
}
#menu_1{
    /* background-color: transparent; */
}
.menu_1_copy{
    background-color: #000;
    z-index: 10;
}
.menu{
    /* background-color: blue; */
    position: relative;
    float: left;
    text-align: center;
}
#menu_2{
    /* background-color: yellow; */
    float: right;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.menu .ham, .menu .special{
    position: relative;
    display: inline-block;
    width: 13px;
    height: 2px;
    background-color: #fff;
}
.menu .ham:before, .menu .ham:after,
.menu .special:before, .menu .special:after{
    display: block;
    content: "";
    position: absolute;
    width: 13px;
    height: 2px;
    background-color: white;
    backface-visibility: hidden;
}
.menu .ham:before{
    top: -4px;
}
.menu .ham:after{
    top: 4px;
}
#menu_2 .ham, #menu_2 .ham:before, #menu_2 .ham:after{
    height: 5px;
    width: 5px;
    border-radius: 50%;
}
.menu .special:before{
    top:0;
    /* left: 0; */
    transform: rotate(45deg);
}
.menu .special:after{
    top:0;
    /* left: 0; */
    transform: rotate(-45deg);
}

.overlay_add{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: block; */
    background-color: rgba(255, 255, 255, .5);
    transition: background-color .256s;
}

@media only screen and (min-width: 768px){
    .menu .ham, .menu .ham:before, .menu .ham:after, .menu .special, .menu .special:before, .menu .special:after{
        height: 2px;
        width: 20px;
    }
    .menu .ham:before{
        top: -8px;
    }
    .menu .ham:after{
        top: 8px;
    }
    #menu_2 .ham, #menu_2 .ham:before, #menu_2 .ham:after{
        height: 5px;
        width: 5px;
        border-radius: 50%;
    }
}
