@import url("hero.css");
@import url("leftnav.css");
@import url("main_box.css");
@import url("stories.css");
@import url("blog.css");
@import url("client.css");
@import url("contact.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
    font-family: 'Karla', sans-serif;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: 14px;
    line-height: 1.42857143;
}
.bdy_hide{
    overflow: hidden;
}
.header_hero{
    position: relative;
    background-size: cover;
    background-image: url("../images/general/untilsunday-background.jpg")
}

.container{
    margin-right: -320px;
    width: 100%;
    position: relative;
}
.container{
    float: left;
}
/* Header */
.main_header{
    position: absolute;
    width: 100%;
    overflow: hidden;
    border: 1px solid #fff;
}
.menu, .logo{
    height: 80px;
    width: 80px;
    line-height: 80px;
}

.menu{
    /* float: left; */
}
.logo{
    float: left;
    background-color: green;
    border: 1px solid #fff;
    /* display: flex;
    align-items: center; */
}
.logo img{
    display: block;
    line-height: 1;

    object-fit: contain;
    /* vertical-align: middle; */
    /* height: 50px;
    width: 50px; */
    margin: 0 auto;
    background-color: red;
}
.logo a{
    display: inline-block;
    /* vertical-align: middle; */
    background-color: black;
    height: 80px;
    line-height: 80px;
    /* height: 100%; */
    width: 100%;
    line-height: 1;
}
.menu_1{
    background-color: blue;
    position: relative;
    float: left;
}
.menu_2{
    background-color: yellow;
    float: right;
}

.menu_1 .ham{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* margin: 0 auto; */
    width: 20px;
    height: 3px;
    background-color: black;
}
.menu_1 .ham:before, .menu_1 .ham:after{
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: white;
    backface-visibility: hidden;
}
.menu_1 .ham:before{
    top: -5px;
}
.menu_1 .ham:after{
    top: 5px;
}


.overlay_add{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: block; */
    background-color: rgba(255, 255, 255, .5);
    transition: background-color .256s;
}

@media only screen and (min-width: 500px){

}
